.display-container {
    text-align: center;
    margin: 20px 0;
    padding: 20px 0;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

.times-list-item {
    width: 90%;
    margin: 0 auto;
}

.date-span,
.in-time,
.out-time,
.total-hrs {
    display: inline-block;
    width: 20.5%;
    font-size: 1.1em;
    margin: 5px 0.5%;
    border-radius: 8px;
    background: #ebe7e7;
    padding: 10px 0;
    cursor: pointer;
    box-shadow: 0 1px 5px #111111;
    text-align: center;
}

.shift-span {
    display: inline-block;
    width: 8%;
    font-size: 1.1em;
    margin: 5px 0.5% 5px 0;
    border-radius: 8px;
    background: #ebe7e7;
    padding: 10px 0;
    cursor: pointer;
    box-shadow: 0 1px 5px #111111;
    text-align: center;
}

.date-span {
    font-weight: 800;
}

.in-time {
    background: #b5eeb5;
}

.out-time {
    background: #f39c9c;
}

.highlight {
    font-weight: 900;
}

@media only screen and (max-width: 1300px) {
    .date-span {
        width: 89%;
        margin-top: 15px;
        font-size: 1.1em;
    }
    .shift-span {
        width: 9%;
    }
    .in-time,
    .out-time {
        width: 32.33%;
        font-size: 1em;
        margin: 0 1% 0 0;
    }
    .total-hrs {
        width: 32.33%;
        font-size: 1em;
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {
    .date-span {
        width: 82%;
        font-size: 1em;
    }
    .shift-span {
        width: 15%;
        font-size: 1em;
    }
    .in-time,
    .out-time {
        font-size: 0.9em;
    }
}